.button {
    min-width: 130px;
    min-height: 55px;
    padding: 15px 30px;
    font-size: 21px;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 15px;

    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, .5);
        color:rgba(0, 0, 0, .7)
    }
}