.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    transition: all .8s ease;
    align-items: center;
    justify-content: center;
    display: none;


    &__content {
        border-radius: 5px;
        background-color: #E94A35;
        color: #fff;
        text-align: center;
    }

    &__header {
        height: 25%;
        padding: 25px;
        background-color:rgba(0, 0, 0, .1);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: flex;
        align-items: center;
        position: relative;
    }
    
    &__header-title {
        font-size: 29px;
        margin: 0;
        padding: 0;
    }

    &__body {
        padding: 25px 40px;
        font-size: 21px;
    }

    &__buttons {
        padding-bottom: 30px;
    }

    &__close {
        text-decoration: none;
        color: #fff;
        font-size: 30px;
        position: absolute;
        right: 25px;
        top: 25px;
        transition: .2s;
    }

    &__close:hover {
        color: rgba(255, 255, 255, .5);
    }

    &.active {
        display: flex;
    }

    &__secondModal {
        background-color: green;
    }

}
